.editor-container {
    max-width: 800px;
}

.output-container > h4 {
    text-align: center;
}

.output-container {
    position: absolute;
    bottom: 5%;
    height: 200px;
    width: 800px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* #speechToCode{
    margin-left: 10px;
} */

.container{
    margin: 40px 0 10px 10px;
    /* margin-top: 40px; */
}